<div class="seamless pt-5">
  <div class="container border-bottom pb-5 pt-4">
    <div class="row d-flex justify-content-between align-items-center">

      <div class="col-6">
        <img src="l2-hero-image.png" alt="" class="w-100">
      </div>

      <div class="col-6">
        <span class="text-center px-3 fs-5 py-2 text-white rounded-1"><i class="bi bi-grid-3x3-gap"></i></span>
        <h2 class="mt-5 fs-3 fw-semibold">Seamless Loyalty</h2>
        <p class=" mt-4 fs-6">Collaborate over projects with your team and clients optimised for mobile and tablet don't let show page speeds drive our our innovative platform empowers anyone to convert clicks ou'll publish your first landing page in minutes.</p>
        <button class="btn mt-3 btn-lg rounded-1 fw-semibold fs-6">Get Started</button>
      </div>
    </div>
  </div>
</div>
