<nav class="navbar navbar-expand sticky-top px-5 py-4">

  <div class="container d-flex justify-content-between align-content-center">
    <div class="logo">
      <a class="navbar-brand fw-semibold" id="logo" href="#">
        <img src="white-logo.svg"class="d-inline-block align-text-center " >
      </a>
    </div>

    <!-- ------------------------------------------------- -->
    <div class="collapse navbar-collapse ms-5 d-flex justify-content-end"         id="navbarSupportedContent">
        <div class="ms-auto">
          <ul class="navbar-nav ">
            <li class="nav-item me-4">
              <a class="nav-link text-white fw-semibold fs-6 active " routerLink="/">Home</a>
            </li>
            <li class="nav-item me-4 ">
              <a class="nav-link text-white fw-semibold fs-6" >Features</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link text-white fw-semibold fs-6" >Overview</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link text-white fw-semibold fs-6" >Pricing</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link text-white fw-semibold fs-6" >Team</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link text-white fw-semibold fs-6" >Reviews</a>
            </li>
          </ul>
        </div>
<!-- ------------------------------------------------- -->
        <div class="ms-auto">
          <button class="btn btn-lg btn-get-started fs-6 fw-semibold">Get It Now</button>
        </div>

<!-- ------------------------------------------------- -->
    </div>
  </div>
</nav>
