<div class="footer p-5 pb-3">
  <div class="container">
    <div class="row border-bottom pb-4">
      <nav class="navbar navbar-expand">

        <div class="container d-flex justify-content-between align-content-center">
          <div class="logo">
            <a class="navbar-brand fw-semibold" id="logo" href="#">
              <img src="logo.svg"class="d-inline-block align-text-center " >

            </a>
          </div>

          <!-- ------------------------------------------------- -->
          <div class="collapse navbar-collapse ms-5 d-flex justify-content-end"         id="navbarSupportedContent">
              <div class="ms">
                <ul class="navbar-nav ">
                  <li class="nav-item me-4">
                    <a class="nav-link text-white fw-semibold fs-6 active" routerLink="/">Home</a>
                  </li>
                  <li class="nav-item me-4 ">
                    <a class="nav-link text-white fw-semibold fs-6" >About Us</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link text-white fw-semibold fs-6" >Blog</a>
                  </li>
                  <li class="nav-item me-0">
                    <a class="nav-link text-white fw-semibold fs-6" >Contact</a>
                  </li>
                </ul>
              </div>
      <!-- ------------------------------------------------- -->
      <!-- ------------------------------------------------- -->
          </div>
        </div>
      </nav>

    </div>

    <div class="row social pt-5">
      <div class="col-8">

        <p>Designed and Developed by DevPat</p>
      </div>
      <div class="col-4">

        <ul class="gap-5">
          <li class=""><span><i class="bi bi-facebook"></i></span></li>
          <li class=""><span><i class="bi bi-linkedin"></i></span></li>
          <li class=""><span><i class="bi bi-instagram"></i></span></li>
          <li class=""><span><i class="bi bi-linkedin"></i></span></li>



        </ul>
      </div>
    </div>

  </div>
    <div class="row mt-3 px-0">
      <div class=" d-flex justify-content-end p-0">
        <button class="btn text-white"><i class="bi bi-arrow-up"></i></button>
      </div>
    </div>
</div>
