<div id="my-features" class="my-features pb-3">
  <div class="container features d-flex flex-column gap-3 align-content-center justify-content-center mb-5 pt-5">
    <div class="row d-flex align-content-center justify-content-center mt-5">
      <div class="col-5">
        <div class="section-title text-center flex-column gap-2">
          <span class="bagde fs-6 px-3 py-2 rounded-4">TEAM</span>
          <h2 class="fs-3 mt-4 fw-semibold">Meat Our Team</h2>
          <p class="fs-6 mt-4 ">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteraction in some from.</p>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-rown justify-content-between mt-5">
      <div class="crd rounded-3">
        <img src="team1.jpg" alt="" class="card-img rounded-top-3">
        <div class="footer text-center">
          <h2 class="fs-5">Dahila</h2>
          <p class="fs-6">Senior Manager</p>
        </div>
      </div>
      <div class="crd rounded-3">
        <img src="team2.jpg" alt="" class="card-img rounded-top-3">
        <div class="footer text-center">
          <h2 class="fs-5">Jhone Digo</h2>
          <p class="fs-6">Marketing</p>
        </div>
      </div>
      <div class="crd rounded-3">
        <img src="team3.jpg" alt="" class="card-img rounded-top-3">
        <div class="footer text-center">
          <h2 class="fs-5">Zara Tingo</h2>
          <p class="fs-6">Web Developer</p>
        </div>
      </div>
      <div class="crd rounded-3">
        <img src="team4.jpg" alt="" class="card-img rounded-top-3">
        <div class="footer text-center">
          <h2 class="fs-5">David Zone</h2>
          <p class="fs-6">SEO Expert</p>
        </div>
      </div>
    </div>

  </div>
</div>
