<div class="percentage py-5">
  <div class="container pt-3">
    <div class="row text-center">
      <div class="col-3">
        <span class="px-3 fs-5 py-2 rounded-1 mb-2 fw-semibold"><i class="bi bi-hand-thumbs-up"></i></span>
        <h3 class="fs-5 mt-4">100%</h3>
        <p class="mt-1">Satisfaction</p>
      </div>
      <div class="col-3">
        <span class="px-3 fs-5 py-2 rounded-1 mb-2 fw-semibold"><i class="bi bi-people-fill"></i></span>
        <h3 class="fs-5 mt-4">120K</h3>
        <p class="mt-1">Happy Users</p>
      </div>
      <div class="col-3">
        <span class="px-3 fs-5 py-2 rounded-1 mb-2 fw-semibold"><i class="bi bi-download"></i></span>
        <h3 class="fs-5 mt-4">125k+</h3>
        <p class="mt-1">Downloads</p>
      </div>
      <div class="col-3">
        <span class="px-3 fs-5 py-2 rounded-1 mb-2 fw-semibold"><i class="bi bi-trophy"></i></span>
        <h3 class="fs-5 mt-4">50+</h3>
        <p class="mt-1">Winning Award</p>
      </div>
    </div>
  </div>
</div>
