<div class="container-fluid p-5">
  <div class="row">
    <div class="col-4">
      <img src="give.jpeg" alt="" class="w-100">
    </div>
    <div class="col-8">
      <h2 class="mb-1 fw-semibold title text-primary">Mon Titre.</h2>
      <!-- <div class="line"></div> -->
      <p class="text mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, voluptatibus eius. Dicta distinctio omnis, illo minus a animi nam molestias excepturi facere neque voluptas sapiente consectetur praesentium quidem eligendi vel!
      Quasi blanditiis quos nisi nulla odio reiciendis nobis? Laudantium, sed eum veniam minus quaerat sit praesentium dolorum rerum ad suscipit provident excepturi nihil hic cum ut aut nulla itaque ipsa.
      Provident maxime quaerat molestias libero, rerum minus quia fugit debitis? Mollitia corporis quibusdam veniam odio dolorem reprehenderit? Eveniet maiores, distinctio fugiat omnis, tempora dolore temporibus iusto quasi quia, commodi provident!
      Consequuntur saepe autem voluptatem ab. Suscipit incidunt numquam dolores perferendis officiis earum pariatur debitis, ab asperiores aperiam quam aliquam saepe eos voluptas aspernatur! Laudantium quisquam magni illum magnam ut ipsa!
      Aspernatur laudantium asperiores, illo eaque eligendi sint facere voluptate molestias itaque reprehenderit quaerat sunt cum amet? Ratione eaque natus, deleniti iste harum ex nostrum. Corporis enim asperiores error debitis recusandae!
      Inventore laboriosam officia, ab corporis adipisci blanditiis nisi cum dolore quasi ex commodi saepe aperiam obcaecati molestiae officiis eaque quod a dolorum earum beatae dicta illo veniam optio odio. Et.</p>
      <button class="btn btn-lg btn-danger px-4">SEE MORE</button>
    </div>
  </div>
</div>
