<div class="my-testimonials">
  <div class="container testimonials d-flex flex-column gap-3 align-content-center justify-content-center  pt-5 pb-5">
    <div class="row d-flex align-content-center justify-content-center mt-5">
      <div class="col-5">
        <div class="section-title text-center flex-column gap-2">
          <span class="bagde fs-6 px-3 py-2 rounded-4">TESTIMONIALS</span>
          <h2 class="fs-3 mt-4 fw-semibold">10,000+ People Love Us</h2>
          <p class="fs-6 mt-4 ">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteraction in some from.</p>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-between mt-5">
      <div class="crd rounded-3 d-flex flex-column gap-2 px-4 py-3">
        <div class="crd-head d-flex align-content-center gap-4 pt-2">
          <div class="left-crd-head">
            <img src="testi2.jpg" alt="" class="w-100 rounded-circle">
          </div>
          <div class="right-crd-head d-flex flex-column">
            <h2 class="fs-5">Aaron Almaraz</h2>
            <p>CEO & Founder at Gearat</p>
            <div class="stars d-flex flex-rown gap-2">
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
            </div>
          </div>
        </div>
        <p>Time is the most precious thing you have when bootstraping. You can't take time to ponder on design...</p>
      </div>
      <div class="crd rounded-3 d-flex flex-column gap-2 px-4 py-3">
        <div class="crd-head d-flex align-content-center gap-4 pt-2">
          <div class="left-crd-head">
            <img src="testi5.jpg" alt="" class="w-100 rounded-circle">
          </div>
          <div class="right-crd-head d-flex flex-column">
            <h2 class="fs-5">Marleah Eagleston</h2>
            <p>Founder at Spicenet</p>
            <div class="stars d-flex flex-rown gap-2">
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star"></i></span>
            </div>
          </div>
        </div>
        <p>Time is the most precious thing you have when bootstraping. You can't take time to ponder on design...</p>
      </div>
      <div class="crd rounded-3 d-flex flex-column gap-2 px-4 py-3">
        <div class="crd-head d-flex align-content-center gap-4 pt-2">
          <div class="left-crd-head">
            <img src="testi3.jpg" alt="" class="w-100 rounded-circle">
          </div>
          <div class="right-crd-head d-flex flex-column">
            <h2 class="fs-5">Phet Putrie</h2>
            <p>Freelancer</p>
            <div class="stars d-flex flex-rown gap-2">
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star"></i></span>
              <span><i class="bi bi-star"></i></span>
            </div>
          </div>
        </div>
        <p>Time is the most precious thing you have when bootstraping. You can't take time to ponder on design...</p>
      </div>

    </div>
    <div class="row mt-4">
      <div class="navigation d-flex gap-2 align-content-center justify-content-center">
        <div class="rounded-1"></div>
        <div></div>
      </div>
    </div>

</div>
