<div id="my-features" class="my-features pb-3">
  <div class="container features d-flex flex-column gap-3 align-content-center justify-content-center mb-5 pt-5">
    <div class="row d-flex align-content-center justify-content-center mt-5">
      <div class="col-5">
        <div class="section-title text-center flex-column gap-2">
          <span class="bagde fs-6 px-3 py-2 rounded-4">PRICING</span>
          <h2 class="fs-3 mt-4 fw-semibold">Pricing Plan</h2>
          <p class="fs-6 mt-4 ">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteraction in some from.</p>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-between flex-rown">
      <div class="card">
        <div class="card-head p-5">
          <h3 class="fs-6 fw-semibold">Freelancer</h3>
          <p >All the basics for starting a new business</p>
          <h2><span class="fs-4 fw-semibold">$24</span> /mo</h2>
        </div>
        <!-- <div class="line"></div> -->

        <div class="card-content p-5">
          <ul class="nav flex-column ">
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
          </ul>
          <button class="btn text-white">Buy Feelancer </button>
        </div>
      </div>
      <div class="card">
        <div class="card-head p-5">
          <h3 class="fs-6 fw-semibold">Startup</h3>
          <p >All the basics for starting a new business</p>
          <h2><span class="fs-4 fw-semibold">$32</span> /mo</h2>
        </div>
        <!-- <div class="line"></div> -->

        <div class="card-content p-5">
          <ul class="nav flex-column ">
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
          </ul>
          <button class="btn btn- text-white">Buy Startup</button>
        </div>
      </div>
      <div class="card">
        <div class="card-head p-5">
          <h3 class="fs-6 fw-semibold">Enterprise</h3>
          <p >All the basics for starting a new business</p>
          <h2><span class="fs-4 fw-semibold">$48</span> /mo</h2>
        </div>
        <!-- <div class="line"></div> -->

        <div class="card-content p-5">
          <ul class="nav flex-column ">
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
            <li class="nav-item ">
              <span><i class="bi bi-check-circle"></i></span>
              <p>Cras justo odio.</p>
            </li>
          </ul>
          <button class="btn btn- text-white">Buy Enterprise </button>
        </div>
      </div>
    </div>
  </div>
</div>
