<div class="my-ready py-5">
  <div class="container justify-content-between p-0">
    <div class="row d-flex flex-row justify-content-between">
      <div class="col-8 ">
        <h2 class="fs-4">Ready to drive in?</h2>
        <h2 class="fs-4">Start your free trial today.</h2>
      </div>
      <div class="col-3 align-content-center">
        <button class="btn btn-lg rounded-1 me-2 text-white">Start Free Trial</button>
        <button class="btn btn-lg rounded-1 text-white">Learn More</button>
      </div>
    </div>
  </div>
</div>
