:root{
  --blue-primary-color: #061e5c;
  --violet-secondary-color:#5034fc ;
}
.my-ready
{
  background-color: #f0f3fa;
}

.col-8 h2:nth-child(1){
  color: #061e5c;
}
.col-8 h2:nth-child(2){
  color: #5034fc;
}

.col-3 button:nth-child(1){
  background-color: #5034fc;
}
.col-3 button:nth-child(2){
  background-color: #061e5c;
}
