<div id="banner">
  <div class="container banner mt-1">
    <div class="row d-flex justify-content-between">
      <div class="col-5 d-flex align-content-center flex-column justify-content-center ">
        <h2 class="fs-3 fw-semibold">Create Landing Page Easy, Super Fast</h2>
        <p class="mt-3 text-desc">From open source to pro services helps you to build,deplay, test, and monitor apps.</p>

        <div class="mt-4 mybuttons d-flex align-content-center">
          <input type="text" placeholder="Your email address" class="text-start">
          <button class="btn btn-danger ms-2">Start Free trial</button>
        </div>
        <p class="text-footer d-flex align-items-center">
          <span class="rounded-circle text-center pt-1 me-3"><i class="bi bi-play"></i></span>How Appmeet works for you ?</p>
      </div>
      <div class="col-6">
        <img src="woman-image.png" alt="" class="woman-image">
      </div>
    </div>
  </div>

</div>
