
<div class="my-join pt-5">
  <div class="container ">
    <div class="row d-flex align-content-center justify-content-center">
      <div class="col-6">
       <div class="col-img">
        <img src="newsletter-img.png" alt="" class="w-100">
       </div>
      </div>

      <div class="col-6 d-flex align-content-center">
        <div class="crd-join p-2 rounded-3 p-4">
          <h4 class="fs-6">Join our community</h4>
          <h2 class="mt-3 fw-semibold">Get latest app updates Right at your inbox</h2>

            <div class=" mybuttons align-content-center mt-5 rounded-3 d-flex justify-content-between px-1 py-1">

              <input type="text" placeholder="Your email address" class="text-start rounded-3 ">
              <button class="btn ms-2 fw-semibold px-4 ">Subscribe</button>
            </div>
        </div>

      </div>

    </div>
  </div>
</div>
