<div class="customer pt-5 pb-3">
  <div class="container border-bottom pb-5">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-6">
        <span class="text-center px-3 fs-5 py-2 text-white rounded-1"><i class="bi bi-download"></i></span>
        <h2 class="mt-5 fs-3 fw-semibold">1,25,000 Customers Using The Application!</h2>
        <p class=" mt-4 fs-6">Big, small online, offline, local or other. Size doesn't matter. We work on diverse projects for top brands as well as for cool startups. Check out some of our favorites.</p>
        <button class="btn mt-3 btn-lg rounded-1 fw-semibold fs-6">Download Now</button>
      </div>
      <div class="col-6">
        <img src="l2-hero-image.png" alt="" class="w-100">
      </div>
    </div>
  </div>
</div>
